# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env


# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/
*.lcov
AUDIT.md
api.http

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/